/* ----- SETTINGS ----- */

// Add color, font variables, etc. here. No CSS allowed!

$primary: #618DFF;
$secondary: #6DEADC;

$neutral-light: #F8FCFF;
$neutral-grey: #EFF4F5;
$neutral-mid: #4A4D54;
$neutral-dark: #4A4D54;

$success: #A6F686;
$error: #F9656B;


/* -- styles -- */

$border-radius: 2px;


/* -- TYPOGRAPHY -- */

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');


$title-font: 'Arimo', sans-serif;
$body-font: 'Hind', sans-serif;

