.home{
 
}

.home__actions{
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #aaa;
}

.home__reports{
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #aaa;
}