.login{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  h1{
    padding: 0px 0px 10px;
  }

  p{
    color: white;
  }

  .error {
    padding: 0px 0px 10px;
    color: red;
  }
}

.login__form{
  margin-top: 20px;
}

.login__sign-up-link{
  text-decoration: underline;
  color: white;

  &:hover{
    color: $primary;
  }
}