.login{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .error {
    padding: 0px 0px 10px;
    color: red;
  }
}

.login__form{
  background: white;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px #aaa;
  padding: 20px;
}

.login__sign-up-link{
  background: white;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #aaa;
  padding: 20px 39px;
  text-decoration: underline;
  color: blue;
}