.sidebar{ 
  background: #f9fbff;
  color: #333;
  flex: 0 0 200px;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #ddd;
  border-bottom: none;
}

.sidebar__nav{
  
  &.-mobile{
    display: none;
    padding: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    top: -100%;
    left: 0px;
    z-index: 99;
    transition: 0.2s top ease-in-out;
    justify-content: center;
  }
}

.sidebar__nav__list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &.-mobile{
    flex-direction:column;
  }
}

.sidebar__nav__list__item {
  a{
    text-decoration: none;
    color: $neutral-mid;
    display: block;
    margin: 5px;
    cursor: pointer;

    &.active{
       color: $primary;
    }
  }

  &.-mobile{
    margin: 20px;
  }
}

.sidebar__avatar{
  margin: 0px auto;
}

.sidebar__title{
  text-align: center;
}

.sidebar__nav__toggle{
  display: none;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 20px;
  z-index: 200;

  &:hover{
    .sidebar__nav__icon{
      background: $primary;
    }
  }
}

.sidebar__nav__icon{
  -ms-transform: 0.3s ease-in-out; /* IE 9 */
  -webkit-transform: 0.3s ease-in-out; /* Safari */
  transition: 0.3s ease-in-out;
  background: #bbb;
  height: 3px;
  width: 30px;
  display: block;
  margin: 5px;

  &.-top{
    &.rotated{
      transform: rotate(45deg) translate(6px, 6px);
    }
  }

  &.-middle{
    opacity: 1;
    &.rotated{
      opacity: 0;
    }
  }

  &.-bottom{
    &.rotated{
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}


@media screen and (max-width: 768px){
  body{
    .sidebar{ 
      display: flex;
      flex: 0 0 50px;
      padding: 5px 20px;
      align-items: center;
    }

    .sidebar__title{
      text-align: center;
      font-size: 18px;
    }

    .avatar.sidebar__avatar{
      display: none;

      &.-mobile{
        display: block;
        margin: 0px auto;
      }
    }

    .sidebar__nav__toggle{
      display: block;
    }

    .sidebar__nav{
      display: none;

      &.-mobile{
        display: flex;
      }
    }

  }
}