.sidebar{ 
  background: #f9fbff;
  color: #333;
  flex: 0 0 200px;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #ddd;
  border-bottom: none;
}

.sidebar__nav{
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    li{
      a{
        text-decoration: none;
        color: #0066cc;
        display: block;
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}

.sidebar__title{
  text-align: center;
}

.sidebar__logged-in{
  font-size: 10px;
  text-align: center;
  margin: 20px 0px;
}