.workout-form{

}

.workout-form__actions{
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #aaa;

}

.workout-form__fields {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #aaa;
  width: 100%;
}